<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Adaptive Exam Prep</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <h1>📘 Adaptive Exam Prep System</h1>

  <form action="/generate" method="POST">
    <label>Student Name:</label>
    <input type="text" name="name" required><br><br>

    <label>Select Subjects:</label><br>
<input type="checkbox" name="subjects" value="Math"> Math<br>
<input type="checkbox" name="subjects" value="Physics"> Physics<br>
<input type="checkbox" name="subjects" value="Chemistry"> Chemistry<br>
<input type="checkbox" name="subjects" value="Biology"> Biology<br>
<input type="checkbox" name="subjects" value="English"> English<br>
<input type="checkbox" name="subjects" value="Computer"> Computer<br><br>

<script>
const checkboxes = document.querySelectorAll('input[name="subjects"]'); // plural
checkboxes.forEach(cb => {
  cb.addEventListener('change', () => {
    const checked = document.querySelectorAll('input[name="subjects"]:checked'); // plural
    if (checked.length > 3) {
      cb.checked = false; // uncheck last one
      alert("You can select only 3 subjects.");
    }
  });
});
</script>


  

    <label>Weak Subject:</label>
    <select name="weak" required>
      <option value="Math">Math</option>
      <option value="Physics">Physics</option>
      <option value="Chemistry">Chemistry</option>
      <option value="Biology">Biology</option>
      <option value="English">English</option>
      <option value="Computer">Computer</option>
    </select><br>

    <label>Confidence Level:</label>
    <select name="confidence">
      <option value="high">High</option>
      <option value="medium">Medium</option>
      <option value="low">Low</option>
    </select><br><br>

    <label>Study Hours Available per Day:</label>
    <input type="number" name="time" required><br><br>

    <button type="submit">Generate My Plan</button>
  </form>
</body>
</html>

